.footer{
    .primary-heading{
        @include DeviceMinimum768{
            text-align: left!important;
        }
    }
    .footer-contact-grid{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        column-gap: 3rem;
        row-gap: 1.5rem;
        margin-top: 3rem;
        @include DeviceMinimum1200{
            width: 90%;
        }
        .card-box{
            // background: rgba(255,255,255,.05);
            background-image: linear-gradient(135deg,#1d1e21 0,#3e4246 100%);
            position: relative;
            padding: 20px 20px 20px 75px;
            min-height: 87px;
    text-align: left;
    box-shadow: 0 0 50px rgba(0,0,0,.2);
    border-radius: 18px;
    transition: all .3s ease 0s;
    p{
        margin-bottom: 0;
    }
    a{
        color: $colorWhite;
        text-decoration: none;
    }
        }
    }
    .form-control{
        background: transparent;
        width: 100%;
        height: 60px;
        border-bottom: 1px solid #777!important;
        border-left: none!important;
        border-right: none!important;
        border-top: none!important;
        color: $colorWhite;
        margin-bottom: 2rem;
        border-radius: 0!important;
        &::placeholder{
            color: $colorText;
        }
        &:focus{
            box-shadow: none;
        }
        }
        textarea{
             background: transparent;
        width: 100%;
        border-bottom: 1px solid #777!important;
        border-left: none!important;
        border-right: none!important;
        border-top: none!important;
        color: $colorWhite;
        margin-bottom: 2rem;
        border-radius: 0!important;
        height: 10rem;
        resize: none;
        &::placeholder{
            color: $colorText;
        }
        }
        .submit-btn{
            button{
                background: transparent;
                color: $colorWhite;
                border: 1px solid $colorWhite;
                font-size: 14px;
                text-transform: capitalize;
                font-weight: 400;
    line-height: 1;
    padding: 15px 30px;
            }
        }
        .overlay-heading{
            @include DeviceMaximum768{
                top: -30px;
            }
        }
        .col-lg-6:last-child{
            h2{
                @include DeviceMaximum768{
                    margin-top: 3rem;
                }
            }
        }
}
.footer-copyright{
    background: $colorPrimary;
    padding: 1rem 0;
    @include DeviceMaximum768{
        padding: 1rem 0 6rem 0;
    }
    p, a, li{
        color: $colorBody;
        font-size: 12px;
        margin-bottom: 0;
        font-weight: 500;
        @include DeviceMaximum768{
            text-align: center;
        }
    }
    .footerlinks ul {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: flex-end;
    gap: 0.4rem;
    @include DeviceMaximum768{
        justify-content: center;
    }
    a{
        text-decoration: none;
        text-transform: capitalize;
    }
}

}