header{
    height: 100vh;
    overflow: hidden;
    background: url(./assets/header-background.jpg) right top no-repeat;
    background-size: cover;
    text-align: left;
    position: relative;
    @media screen and (max-width:575.6px) {
        background-position: 82% 100%;
    }
    .header__container{
        height: 100%;
        position: relative;
        .row{
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            height: 100%;
            @include DeviceMaximum768{
                .col-md-12{
                    text-align: center;
                }
            }
            span {
                font-size: 24px;
                font-weight: 200;
                color: $colorWhite;
                @media screen and (max-width:575.5px) {
                    font-size: 20px;
                }
            }
            h1{
                font-size: 80px;
text-transform: uppercase;
color: $colorText;
line-height: 1;
font-weight: bold;
@media screen and (max-width:575.5px) {
    font-size: 48px;
}
            }
            h5{
                font-size: 40px;
text-transform: uppercase;
line-height: 1;
color: $colorPrimary;
font-weight: bold;

@media screen and (max-width:575.5px) {
    font-size: 30px;
}
            }
        }
    }
}
.cta{
    margin-top: 2rem;
    display: flex;
    justify-content: flex-start;
    gap: 1.2rem;
    @media screen and (max-width:575.5px) {
        justify-content: center;
    flex-direction: column;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    }
    @include DeviceMaximum768{
        justify-content: center;
    }
}


.me{
    background: linear-gradient($colorPrimary, transparent);
    width: 22rem;
    height: 30rem;
    margin-left: auto;
    @media screen and (max-width:371px) {
        width: 100%;
    }
}
