.mt-large{
    margin-top: 7rem;
    @include DeviceMaximum1024{
        margin-top: 5rem;
    }
    @include DeviceMaximum992{
        margin-top: 4rem;
    }
    @include DeviceMaximum768{
        margin-top: 3rem;
    }
}
.our-heads{
    position: relative;
    .overlay-heading{
        position: absolute;
        overflow: hidden;
        left: 0;
        top: -50px;
        width: 100%;
        font-size: 120px;
        line-height: 120px;
        color: $colorWhite;
        text-transform: uppercase;
        font-weight: 700;
        letter-spacing: .04em;
        text-align: center;
        white-space: nowrap;
        pointer-events: none;
        opacity: .05;
        @include DeviceMaximum768{
            text-align: left;
    font-size: 48px;
        }
    }
    .space-one{
        display: inline-block;
        height: 5px;
    }
}
.primary-heading{
        font-size: 3rem;
        color:  $colorPrimary;
        font-weight: 700;
        text-transform: capitalize;
        @include DeviceMaximum768{
            font-size: 2.2rem;
        }
        span{
            color: $colorWhite;
        }
    }
.content-para{
    p{

    }
}
a.btn-two {
            font-size: 15px;
            padding: 10px 24px;
            line-height: 1;
            text-transform: capitalize;
            border: 1.9px solid $colorWhite;
            color: $colorWhite;
            transition: 0.4s ease;
            display: inline-block;
            text-decoration: none;
            background: transparent;
            transition: all 0.5s;
            &:hover{
                background: $colorPrimary;
                border-color: $colorPrimary;
            }
        }
        a.btn-one {
            font-size: 15px;
            padding: 10px 24px;
            line-height: 1;
            text-transform: capitalize;
            border: 1.9px solid $colorPrimary;
            color: $colorWhite;
            background: $colorPrimary;
            transition: 0.4s ease;
            display: inline-block;
            text-decoration: none;
            transition: all 0.5s;
            &:hover{
                background: transparent;
                border-color: $colorWhite;
            }
        }