$colorBG:#303236;
$colorPrimary:#62c557;
$colorPrimaryVariant: rgba(77, 181, 255, 0.4);
$colorWhite:#ffffff;
$colorBody:#242425;
$colorLight:rgba(255, 255, 255, 0.6);  
$colorText:#a9a9a9;

$transition:all 400ms ease;
